{% extends 'hotel/base.html' %}

{% block title %}Available Rooms{% endblock %}

{% load static %}
{% block content %}
<h1>Available Rooms</h1>
<div class="rooms-container" style="background-color: lightcyan; padding: 20px; border-radius: 8px;">
  <ul class="rooms-list">
        {% for room in rooms %}
            <li class="room-item">
                <div class="room-details">
                    <h3>Room {{ room.room_number }}</h3>
                    <p><strong>Type:</strong> {{ room.room_type }}</p>
                    <p><strong>Price:</strong> {{ room.price_per_night }} per night</p>
                    <p><strong>Availability:</strong> {% if room.is_available %}Available{% else %}Not Available{% endif %}</p>
                </div>
                <a class="btn btn-primary" href="{% url 'book_room' %}">Book Now</a>
            </li>
        {% endfor %}
    </ul>
</div>
<a class="link" href="{% url 'home' %}">Back to Home</a>
{% endblock %}
